
body{
    font-family: Arial, Verdana,Helvetica,sans-serif;
    font-size:1.5em;
    background-image: url("../kepek/background.jpg");
    background-size: cover;
}

p{
    text-align: justify;
    
}

header{
    text-align: center;
}

header, main,footer{
    width:80%;
    max-width: 1200px;
    margin-left:auto;
    margin-right:auto;
    background-color: white;
    margin: 0 auto;
    padding: 10px;
}



header nav,.header .nav{
    background-color: #ddd;
    
    margin-left: -10px;
    margin-right: -10px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

header nav ul li,.header .nav ul li{
    display: inline;
    white-space: nowrap;
}

header nav a,.header .nav a{
    text-decoration: none;
    font-variant: small-caps;
    margin-right: 1em;
}

header{
    border-radius: 10px 10px 0 0;
}

footer{
    border-radius: 0 0 10px 10px;
}

header nav a:link,.header .nav a:link{
    color: black;
}
header nav a:visited,.header .nav a:visited{
    color:black;
}
header nav a:hover,.header .nav a:hover{
    text-decoration:underline;
}

img#kep1{
    width: 0.5em;
    float: right;
    margin-left:30px;
    margin-top:0;
    margin-bottom:0;
}

img#arckep{
    float: left;
    max-width: 40%;
    margin-right: 30px;
}

p.szoveg{
    margin-right:30px;
    margin-left:30px;
}

h1.cim{
    margin-left:30px;
    font-size:1,2em;
    margin-bottom:0;
}

h2.cim{
    margin-left:30px;
    font-size: 1em;
}


img#statisztika{
    max-width:80%;
    float:unset;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img#terv{
    max-width:80%;
    float:unset;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


@media screen and (max-width: 700px) 
{
    img#arckep{
        float:unset;
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 60%;
    }


}
